<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <h3 class="mat-headline-6">Filters</h3>
    <ul class="filters">
      <li>
        <mat-checkbox class="margin">By deadline</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="margin">By description</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="margin">By owner</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="margin">Is expense</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="margin">By status</mat-checkbox>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <h3 class="mat-headline-5">
      <a mat-flat-button color="accent" [routerLink]="['/flat', apartment.id]"
        >Link to flat</a
      >
    </h3>

    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let task of apartment.tasks">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="mat-caption task-owner">{{ task.assignee_name }}</span>
            {{ task.name }}
          </mat-panel-title>
          <mat-panel-description class="task-description">
            DeadLine: {{ task.deadline | date }}
            <mat-chip-option
              [selected]="task.status === 'Done'"
              [highlighted]="task.status !== 'Canceled'"
              [color]="statusColors[task.status]"
            >
              {{ task.status }}
            </mat-chip-option>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="task.description">Task description</p>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
